.log-tile > div {
    color: var(--main-color);
}

.log-tile-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 7fr; /* Adjust the column sizes as needed */
    gap: 10px; /* Adjust the gap between columns */
    align-items: left; /* Align items vertically in the center */
    padding: 2px; /* Add padding around the container */
    border-bottom: 1px solid #ccc; /* Add a bottom border for separation */
    overflow-y: auto; /* Make the container scrollable in the y-direction */

}

.log-tile-level,
.log-tile-timestamp,
.log-tile-message,
.log-tile-filename-and-line {
    padding: 0px; /* Add padding for better spacing */
    overflow: hidden; /* Prevent overflow */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
}

.log-tile-level:hover,
.log-tile-timestamp:hover,
.log-tile-message:hover,
.log-tile-filename-and-line:hover {
    overflow: visible; /* Show overflow text */
    text-overflow: clip; /* Remove ellipsis */
    white-space: normal; /* Allow text to wrap */
}

.log-tile-level {
    font-weight: bold; /* Make the level text bold */
}

.log-tile-timestamp {
    color: #888; /* Change the color of the timestamp */
}

.log-tile-message {
    color: var(--main-color); /* Change the color of the message */
}

.log-tile-filename-and-line {
    color: #797979; /* Change the color of the filename and line number */
    font-style: italic; /* Make the filename and line number italic */
}

.LOG {
    color: var(--main-color);
}

.ERROR {
    color: red;
}

.WARN {
    color: orange;
}

.INFO {
    color: blue;
}

.DEBUG {
    color: green;
}

.TRACE {
    color: purple;
}

.CRITICAL {
    color: red;
}

.WARNING {
    color: orange;
}

.hidden {
    display: none;
}

.placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--main-color);
    font-size: 16px;
  }
  
  .placeholder-image {
    width: 50%;
    height: 50%;
    filter: drop-shadow(9px 15px 6px rgb(0 0 0 / 0.4));
  }
  
  .placeholder-image img {
    width: 50%;
    height: 50%;
  
  }
  
  .placeholder-image img svg {
    fill: black;
    color: black;
    ;
  }
  
  
  .placeholder-text {
    font-size: 34px;
    stroke: var(--main-color);
    font-weight: 20;
  }