
/* Dynamically change the number of tiles for size of screen*/
.project-boxes.jsGridView .tile-wrapper {
  width: 25%; /*original 33.3% */
}

@media screen and (max-width: 1900px) {
  .project-boxes.jsGridView .tile-wrapper {
    width: 33.3%;
  }
}

@media screen and (max-width: 1300px) {
  .project-boxes.jsGridView .tile-wrapper {
    width: 50%;
  }
}

.tile-wrapper {
  padding: 10px;
  transition: 0.2s;
  overflow: visible;
  }

  @media screen and (max-width: 520px) {
    .project-boxes.jsGridView .tile-wrapper {
      width: 50%;
    }

    .project-boxes.jsGridView .tile-wrapper {
      width: 100%;
    }

  }

.project-boxes.jsListView .loop-tile{
  display: flex;
  border-radius: 10px;
  position: relative;
}
.project-boxes.jsListView .loop-tile> * {
  margin-right: 24px;
}




/* Tile border color and transition */
.loop-tile {
  --main-color-card: var(--tile-color);
  border-radius: 30px;
  padding: 13px;
  background-color: var(--tile-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, 
              rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, 
              rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  overflow: visible;
  z-index: 1;
  transition: box-shadow 0.75s ease; /* Transition for smooth color change */
}



/* Additional box-shadow for border effect */
.loop-tile.tile-completed {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, 
              rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, 
              rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset, 
              0 0 5px 2px var(--tile-completed-color); /* Border fade-out effect */
}

.loop-tile.tile-in-progress {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, 
              rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, 
              rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset, 
              0 0 10px 3px var(--tile-in-progress-color); /* Border fade-out effect */
}
/* -------------------------------------- */

.project-boxes.jsListView .loop-tile> * {
  margin-right: 10px;
}

.project-boxes.jsListView .loop-tile-header {
  order: 2;
}

.project-boxes.jsListView .loop-tile-header > span {
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 12px;
}

.loop-tile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: var(--main-color);
}

.loop-tile-header span {
  opacity: 0.7;
  font-size: 14px;
  line-height: 16px;
}

.project-boxes.jsListView .loop-tile-header > span {
  font-size: 10px;
}

.tile-text-color {
  color: var(--main-color);
}


.project-boxes.jsListView .loop-tile-content-header {
  order: 1;
  max-width: 120px;
}

.project-boxes.jsListView .loop-tile-content-header p {
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}




.loop-tile-content-header {
  text-align: left top;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  flex-shrink: 0;
}
.loop-tile-content-header-left {
  display: flex;
  flex-direction: column;
  width: 23%;
  max-width: 23%;
  min-width: 23%;
}

.loop-tile-content-header-left p {
  margin: 0;
  white-space: nowrap;        /* Prevents text from wrapping */
  overflow: hidden;           /* Hides overflow text */
  text-overflow: ellipsis;    /* Adds ellipsis (...) to overflow */
  width: 100%;
  transition: all 0.3s ease;  /* Smooth transition for hover effect */
}

.loop-tile-content-header-left p:hover {
  white-space: normal;        /* Allows text to wrap */
  overflow: visible;          /* Shows overflow text */
  text-overflow: clip;        /* Removes ellipsis (...) */
  word-break: break-all;

}

.project-boxes.jsListView .loop-tile-content-header-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: unset;
  min-width: unset;
}

.loop-tile-content-header-right {
  align-self: flex-start;
}
.loop-type-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.loop-tile-content-header-center {
  display: flex;
  /* background-color: grey; */
  margin-right: 30px;
  margin-left: 8px;
  width: 90%;

  visibility: visible;
}

.loop-tile-content-header-canvas {
  position: relative;
  align-self: center;
  background-color: var(--main-color);
  border-color: var(--main-color-card);
  margin-right: 8px;
  border-radius: 10px;
  
  width: 100%; /* Make the canvas fill its flexbox container in width */
  height: 100%; /* Ensure the canvas inherits the flexbox height */
  flex-shrink: 0;
}

.project-boxes.jsListView .loop-tile-content-header-center {
  visibility: hidden;
}

.project-boxes.jsListView .loop-tile-content-header-canvas {
  visibility: hidden;
}

.project-boxes.jsListView .loop-type-icon {
  width: 100%; /* Adjust width to match .tile-wrapper */
  height: 100%; /* Adjust height to match .tile-wrapper */
  margin-right: 4px;
  position: absolute;
  align-self: right;
  right: 0; /* Align to the right */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
  overflow: hidden;
  opacity: 0.3;
  z-index: -1; /* Ensure it is above other elements */
}

.project-boxes.jsListView .loop-tile-content-header-right {
  visibility: 
}

.loop-tile-content-header-right .project-boxes.jsListView{
  align-self: flex-start;
  
}

.loop-tile-content-header-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  
}



/* .loop-tile-content-subheader-text {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
} */

.loop-tile-content-subheader-text {
  font-size: 12px;
  line-height: 16px;
}

.project-boxes.jsListView .loop-tile-progress-wrapper {
  order: 3;
  flex: 1;
}


.loop-tile-progress-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
}

.loop-tile-progress-header {
  font-size: 12px;
}

.loop-tile-progress-bar {
  width: 100%;
  height: 4px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  margin: 8px 0;
}


.loop-tile-progress {
  display: block;
  height: 4px;
  border-radius: 6px;
  transition: width 0.2s ease;
}

.loop-tile-progress-percentage {
  text-align: right;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}


.loop-tile-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  position: relative;
}
.loop-tile-footer:after {
  content: "";
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.6); */
  width: calc(100% + 24px);
  top: 4px;
  left: -12px;
  height: 1px;
}


.time-left {
  font-size: 8px;
  padding: 6px 6px;
  text-align: center;
}
.iterations-per-second {
  font-size: 8px;
  padding: 6px 6px;
  padding-top: 4px;
  text-align: center;
}

.project-boxes.jsListView .loop-tile-footer {
  order: 3;
  padding-top: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.project-boxes.jsListView .loop-tile-footer:after {
  display: none;
}


.tile-badge {
  background-color: var(--tile-badge-background-color);
  font-size: 12px;
  border-radius: 20px;
  flex-shrink: 0;
  padding: 6px 16px;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--tile-badge-text-color)
}

.overhead-percentage {
  margin-top: 5px;
}

.hidden {
  display: none;
}


.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: 16px;
}

.placeholder-image {
  width: 50%;
  height: 50%;
  filter: drop-shadow(9px 15px 6px rgb(0 0 0 / 0.4));
}

.placeholder-image svg {
  stroke-width: 0px;
  text-shadow: 10px;
  filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, ));
}

.placeholder-text {
  font-size: 34px;
  stroke: var(--main-color);
  font-weight: 20;
}