@charset "utf-8";
#header {
	border-style: none;
	width: 800px;
	height: auto;	
}
#wrapper {
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	width: 800px;	
}
body {
	direction: RTL;
	background-color: #E0E0E0;
	font-family: "B Zar" , Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-align: justify;
	color: #474747;
	
}
#footer {
	direction: RTL;	
	text-align: center;
	font-size: 0.8em;
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFFFFF;
	border-top: thin solid #BBBBBB;
	clear: both;
	color: #969696;
}
#nav {
	direction: RTL;
}
#nav li {
	direction: RTL;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1em;
	color: #4C4C4C;
	list-style-type: none;
	cursor: pointer;
}
#nav li:hover {	
	background-color: #DDDDDD;
}
#nav li a {
	direction: RTL;
	text-decoration: none;
}
#leftsidebar {
	direction: RTL;
	width: 20%;
	height: auto;
	float: right;
}
#main {
	direction: RTL;
	width: auto;
	float: right;
	margin-left: 20px;
	margin-right: 20px;
	padding-right: 20px;
}
#logo {
	width:800px;
	padding: 10px;
}