@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Ciutadella Italic';
    src: url('/static/fonts/Ciutadella/Ciutadella-RegularItalic.eot');
    src: local('Ciutadella Italic'), local('Ciutadella-RegularItalic'),
        url('/static/fonts/Ciutadella/Ciutadella-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-RegularItalic.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-RegularItalic.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ciutadella Bold';
    src: url('/static/fonts/Ciutadella/Ciutadella-Bold.eot');
    src: local('Ciutadella Bold'), local('Ciutadella-Bold'),
        url('/static/fonts/Ciutadella/Ciutadella-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-Bold.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-Bold.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella Bold Italic';
    src: url('/static/fonts/Ciutadella/Ciutadella-BoldItalic.eot');
    src: local('Ciutadella Bold Italic'), local('Ciutadella-BoldItalic'),
        url('/static/fonts/Ciutadella/Ciutadella-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-BoldItalic.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-BoldItalic.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ciutadella Medium Italic';
    src: url('/static/fonts/Ciutadella/Ciutadella-MediumItalic.eot');
    src: local('Ciutadella Medium Italic'), local('Ciutadella-MediumItalic'),
        url('/static/fonts/Ciutadella/Ciutadella-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-MediumItalic.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-MediumItalic.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Ciutadella Regular';
    src: url('/static/fonts/Ciutadella/Ciutadella-Regular.eot');
    src: local('Ciutadella'), local('Ciutadella-Regular'),
        url('/static/fonts/Ciutadella/Ciutadella-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-Regular.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-Regular.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella Medium';
    src: url('/static/fonts/Ciutadella/Ciutadella-Medium.eot');
    src: local('Ciutadella Medium'), local('Ciutadella-Medium'),
        url('/static/fonts/Ciutadella/Ciutadella-Medium.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-Medium.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-Medium.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella SemiBold Italic';
    src: url('/static/fonts/Ciutadella/Ciutadella-SemiBoldItalic.eot');
    src: local('Ciutadella SemiBold Italic'), local('Ciutadella-SemiBoldItalic'),
        url('/static/fonts/Ciutadella/Ciutadella-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-SemiBoldItalic.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-SemiBoldItalic.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Ciutadella SemiBold';
    src: url('/static/fonts/Ciutadella/Ciutadella-SemiBold.eot');
    src: local('Ciutadella SemiBold'), local('Ciutadella-SemiBold'),
        url('/static/fonts/Ciutadella/Ciutadella-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-SemiBold.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-SemiBold.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella Light';
    src: url('/static/fonts/Ciutadella/Ciutadella-Light.eot');
    src: local('Ciutadella Light'), local('Ciutadella-Light'),
        url('/static/fonts/Ciutadella/Ciutadella-Light.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-Light.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-Light.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ciutadella Light Italic';
    src: url('/static/fonts/Ciutadella/Ciutadella-LightItalic.eot');
    src: local('Ciutadella Light Italic'), local('Ciutadella-LightItalic'),
        url('/static/fonts/Ciutadella/Ciutadella-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/Ciutadella/Ciutadella-LightItalic.woff2') format('woff2'),
        url('/static/fonts/Ciutadella/Ciutadella-LightItalic.woff') format('woff'),
        url('/static/fonts/Ciutadella/Ciutadella-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

p,
.card-body,
input,
select,
.form-control,
.form-select,
option,
ul,
li,
input,
a {
    font-family: "Ciutadella Regular";
}

label, .list-group-item {
    font-family: Ciutadella Italic;
}

button {
    margin: 1em;
}

.nav-link, .lead, button, .btn {
    font-family: "Ciutadella Medium";
}
.navbar-brand:h3 {
    font-family: "Ciutadella";
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
.card-header,
b {
    font-family: "Ciutadella Bold";
}

nav {
    font-size: larger;
    background-color: lightgray;
    color: black
}

card {
    width: 200px; 
    height: 400px;
    margin: 1em;
    background-color: transparent;
}

.error-container {
    text-align: center;
    font-size: 180px;
    font-family: 'Ciutadella', sans-serif;
    font-weight: 800;
    margin: 20px 15px;
}

.error-container>span {
    display: inline-block;
    line-height: 0.7;
    position: relative;
    color: #FFB485;
}

.error-container>span {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.error-container>span:nth-of-type(1) {
    color: #D1F2A5;
    animation: colordancing 4s infinite;
}

.error-container>span:nth-of-type(3) {
    color: #F56991;
    animation: colordancing2 4s infinite;
}

.error-container>span:nth-of-type(2) {
    width: 120px;
    height: 120px;
    border-radius: 999px;
}

.error-container>span:nth-of-type(2):before,
.error-container>span:nth-of-type(2):after {
    border-radius: 0%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 999px;
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
        inset 0 30px 0 rgba(239, 250, 180, 0.4),
        inset -30px 0 0 rgba(255, 196, 140, 0.4),
        inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    animation: shadowsdancing 4s infinite;
}

.error-container>span:nth-of-type(2):before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

@keyframes shadowsdancing {
    0% {
        box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
            inset 0 30px 0 rgba(239, 250, 180, 0.4),
            inset -30px 0 0 rgba(255, 196, 140, 0.4),
            inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    }

    25% {
        box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
            inset 0 30px 0 rgba(209, 242, 165, 0.4),
            inset -30px 0 0 rgba(239, 250, 180, 0.4),
            inset 0 -30px 0 rgba(255, 196, 140, 0.4);
    }

    50% {
        box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
            inset 0 30px 0 rgba(245, 105, 145, 0.4),
            inset -30px 0 0 rgba(209, 242, 165, 0.4),
            inset 0 -30px 0 rgba(239, 250, 180, 0.4);
    }

    75% {
        box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
            inset 0 30px 0 rgba(255, 196, 140, 0.4),
            inset -30px 0 0 rgba(245, 105, 145, 0.4),
            inset 0 -30px 0 rgba(209, 242, 165, 0.4);
    }

    100% {
        box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
            inset 0 30px 0 rgba(239, 250, 180, 0.4),
            inset -30px 0 0 rgba(255, 196, 140, 0.4),
            inset 0 -30px 0 rgba(245, 105, 145, 0.4);
    }
}

@keyframes colordancing {
    0% {
        color: #ff001e;
    }

    25% {
        color: #781478;
    }

    50% {
        color: #ea6212;
    }

    75% {
        color: #ff001e;
    }

    100% {
        color: #781478;
    }
}

@keyframes colordancing2 {
    0% {
        color: #781478;
    }

    25% {
        color: #ff001e;
    }

    50% {
        color: #ea6212;
    }

    75% {
        color: #781478;
    }

    100% {
        color: #ea6212;
    }
}

/* demo stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f9;
    margin-bottom: 50px;
}

html,
button,
select,
textarea {
    font-family: 'Ciutadella Regular';
    color: lightgrey;
}

.itemgroup {
    float: left;
    margin: 0.1em;
  }

.jumbotron {
    text-align: center;
    padding-top: 2em;
}

.card-body {
    float: left;
    margin: 1em;
}

#participantstable {
    float: none;
}


.zoom-area {
    max-width: 490px;
    margin: 30px auto 30px;
    font-size: 19px;
    text-align: center;
}

.link-container {
    text-align: center;
}

a.more-link {
    text-transform: uppercase;
    font-size: 13px;
    background-color: lightgray;
    padding: 10px 15px;
    border-radius: 0;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 50px;
    letter-spacing: 1px;
}