@page {
  @bottom-right {
    background: #B57EDC;
    color: #ffffff;
  }
  @bottom-center {
    content: "© <year> Example Corp.";
  }
  @footnote {
    border-top: 2px solid red;
    float: bottom;
  }
}

html {
  color: black;
  font-family: Comic Sans MS;
  line-height: 1.25;
}

table:not(.highlighttable) {
  border: 1px solid #c0c0c0;
}

table:not(.highlighttable) th {
  border: 1px solid #c0c0c0;
}
table.highlighttable th {
  border: inherit;
}

table:not(.highlighttable) td {
  border: 1px solid #c0c0c0;
}
table.highlighttable td {
  border: inherit;
}

table:not(.highlighttable) th {
  color: white;
  background-color: black;
  font-weight: bold;
}
table.highlighttable th {
  color: inherit;
  background-color: inherit;
  font-weight: inherit;
}

table:not(.highlighttable)>tbody>tr:nth-child(even) {
    background-color: #E7E9EB;
}
table:not(.highlighttable)>tbody>tr:nth-child(odd) {
    background-color: #ffffff;
}

td {
  min-height: 1rem;
}

#cover>div#who {
  background: #B57EDC;
  color: white;
}

sup {
  vertical-align: top;
}

article ul li::before {
  color: #E6E6FA;
}

.footnotes hr {
  border: 1px solid red;
}

table.highlighttable th.filename {
  border-bottom: 1px solid #c0c0c0;
}
table.highlighttable td.code {
  width: 100%;
}
