#qc-panel{display:none;font-size:.8em;background-color:#fff;border-bottom:1px solid #eee;padding:1em}
#qc-panel label{display:inline-block;white-space:nowrap;width:auto}
#qc-panel input[type="checkbox"]{margin:3px;vertical-align:middle}
#qc-panel input[type="radio"]{margin:3px;vertical-align:middle}
#qc-panel label input+span{display:inline-block;vertical-align:middle;margin-left:.2em}

#qc-left{position:relative;padding-bottom:1.5rem}
#qc-right{text-align:left;display:flex;flex-direction:column;align-items:center;overflow:hidden;padding-left:20px}

#qc-traces td{text-align:center;padding:.2rem .5rem;border:1px solid #eee}
#qc-traces td:first-child{text-align:left}
#qc-traces td:last-child{text-align:left}
#qc-traces th{text-align:center;padding:.2rem .5rem;font-weight:600;border:1px solid #eee}
#qc-traces th:first-child{text-align:left}
#qc-traces th:last-child{text-align:left}
#qc-traces tr:first-child td{text-align:center;padding:1rem}

#qc-config{display:inline-block}
#qc-config>div{display:inline-block;border:1px solid #eee}
#qc-config>div>label{display:inline-block;border-left:1px solid #eee;padding:.2rem .5rem}
#qc-config>div>label:first-child{border-left:none}
#qc-config>div+div{margin-left:1em}
#qc-config>div>div{display:inline-block;padding:.2rem .5rem}

#qc-chart{border:1px solid #ccc;box-sizing:content-box;width:700px;height:450px;padding:10px;resize:both;overflow:hidden;min-width:700px;min-height:450px;margin-top:20px}

#qc-section.open #qc-panel{display:flex}
#qc-section.open #qc-open{display:none}

#qc-close{line-height:1;position:absolute;bottom:0}
#qc-close a{text-decoration:none}

/* Stack option */
#qc-config label:has(input[name="stack"]){display:none}
#qc-config[data-chart-type="bar"] label:has(input[name="stack"]){display:inline-block}

/* Categorical X option */
#qc-config[data-chart-type="pie"] label:has(input[name="cat_x"]){display:none}
#qc-config[data-x-type="categorical"] label:has(input[name="cat_x"]){display:none}

/* Aggregation options */
#qc-config[data-chart-type="pie"] #qt-agg{display:none}
