/* polices */
@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("../fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url("../fonts/Inter-italic.var.woff2") format("woff2");
}
:root {
    --white: #FFF;
    --main: #65aa04;
    --dark-grey: #1F1F22;
    --grey: #6F6F73;
    --light-grey: #F9F9FA;
}