[project]
name = "acres"
description = "Access resources on your terms"
authors = [
    { name = "The NiPreps Developers", email = "nipreps@gmail.com" },
]
dependencies = [
    "importlib_resources >=5.7; python_version < '3.11'",
]
requires-python = ">=3.8"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
dynamic = []
version = "0.2.0"

[project.license]
text = "Apache-2.0"

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.pdm.build]
source-includes = [
    "tests/",
    "tox.ini",
]

[tool.pdm.version]
source = "scm"

[tool.ruff]
line-length = 99

[tool.ruff.lint.flake8-quotes]
inline-quotes = "single"

[tool.ruff.format]
quote-style = "single"
